/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
 
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins" "Caveat"  ;
  }

  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer utilities {
  .font-hand {
    font-family: "Kalam", "Caveat", cursive;
  }
}

@layer components {
  .input-box {
    @apply w-full text-lg  bg-transparent border-b  border-gray-400 px-3 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full bg-blue-500 text-lg text-white rounded my-1 py-2 hover:bg-blue-600;
  }

  .icon-btn{
    @apply text-xl text-slate-300 cursor-pointer hover:text-blue-400
  }
}